<%- include('partials/header'); -%>


<div class="container">
  <h1>Add Images</h1>
  <div class="error"></div>
  <div class="success"></div>
  <a href="/">
    <button class="blue">
      Back to products
    </button>
  </a>
  <h2><%= product.name %></h2>
  <form id="add-images-form">
      <input type="text" id="product_id" name="product_id" value="<%= product._id %>" hidden>
    <div class="form-group">
      <label for="product-images">Product Images:</label>
      <div id="product-images">
        <% product.image_url.forEach((image) => { if (image.url !==
          "/sustainloop.png") { %>
          <img src="<%- image.url %>" alt="Product Image" />
          <% } }); %>
      </div>
    </div>
    <div class="form-group">
        <label for="image-url">Enter Image URL:</label>
        <input type="url" id="image-url" name="image_url" placeholder="https://example.com/image.jpg">
    </div>
    <button type="submit" class="blue">Add</button>
  </form>
</div>