.hide-login {
  display: none;
}

.show-login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .card {
    width: 400px;
    height: 450px;
    position: relative;
    perspective: 1500px;
    .front {
      z-index: 2;
    }
    .back {
      transform: rotateY(180deg);
    }
    .side {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #8d743b;
      border-radius: 15px;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      color: #fff3e3;
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      backface-visibility: hidden;
      transition: 0.5s;
      .closeButton {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: transparent;
        color: white;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: black;
        }
      }
      h3 {
        font-size: 2.5rem;
        font-weight: 400;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        > input {
          outline: none;
          padding: 1.5rem;
          border-radius: 5px;
          border: none;
          font-size: 1.5rem;
          font-weight: 400;
          background-color: #ffffff;
          color: #292621;
          width: 100%;
          &::placeholder {
            color: #8d743b;
          }
        }
        > button {
          background-color: #fff3e3;
          color: #8d743b;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: 400;

          &:hover {
            background-color: #b4af9e;
            color: #fff3e3;
          }
        }
      }
      p {
        font-size: 1.2rem;
        font-weight: 400;
        button {
          background: none;
          border: none;
          color: #094d7a;
          font-size: 1.4rem;
          cursor: pointer;
          text-decoration: underline;
          transition: 300ms;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

.loggedIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #8d743b;
  background-color: #fff3e3;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 400px;
  height: 300px;
  position: relative;
  .profileHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
      font-size: 1.5rem;
      font-weight: 400;
      color: #8d743b;
      text-align: center;
      line-height: 2rem;

      display: flex;
      flex-direction: column;
    }
  }
  .profileActions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .closeButton {
      position: absolute;
      top: 2rem;
      right: 2rem;
      background: transparent;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: #8d743b;
      }
    }
    .logoutButton {
      background-color: #8d743b;
      color: #fff3e3;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 400;

      &:hover {
        background-color: #b4af9e;
        color: #fff3e3;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .show-login {
    .card {
      width: 300px;
      height: 400px;
      .side {
        padding: 1.5rem;
        h3 {
          font-size: 2rem;
        }
        form {
          > input {
            padding: 1rem;
            font-size: 1.2rem;
          }
          > button {
            padding: 8px 16px;
            font-size: 1.2rem;
          }
        }
        p {
          font-size: 1rem;
          button {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .loggedIn {
    width: 300px;
    height: 300px;
    .profileHeader {
      p {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
  }
}
