.product-grid {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5rem;
  margin: 0 auto;
  min-height: 300px;
}

.product-contanier {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  > a {
    display: inline-block;
    margin: 2.5rem 0 5rem;
    text-decoration: none;
    border: 1px solid #b88e2f;
    color: #b88e2f !important;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.5rem;
    width: 245px;
    height: 48px;
  }
}

@media screen and (max-width: 800px) {
  .product-contanier > h2 {
    font-size: 3rem;
    font-weight: 600;
  }
}
